body {
    position: relative; /* Set the body to relative positioning */
    display: flex;
    justify-content: center;
    align-items: last baseline;
    vertical-align: bottom;
    height: 100vh;
    background-image: url('backimage.png'); /* Background image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;

}

/* Decorative circles at the four corners */
.corner {
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url('grass.png'); /* Glass image path */
    background-size: cover;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

a {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0F6FA8;
    color: #ffffff;
    transition: background-color 0.3s ease;
    text-decoration: none;

}

/* Bottom left button */
a:first-child {
    position: fixed;

    bottom: 50px;  /* Distance from the bottom */
    left: 20px;    /* Distance from the left */
}

/* Bottom right button */
a:last-child {
    position: fixed;

    bottom: 50px;  /* Distance from the bottom */
    right: 20px;   /* Distance from the right */
}

a:hover {
    background-color: #3C75B7;
}

