body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('backimage.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
