body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

header h1 {
    margin: 0;
}

video {
    width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#typing-text {
    position: absolute;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
    backdrop-filter: blur(1px); /* Blurred background */
    background-color: rgba(132, 50, 92, 0.275); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
    max-width: 40%; /* Maximum width for the text */
    margin: 0 auto; /* Center the text horizontally */
    word-spacing: 2px; /* Word spacing */
    line-height: 1.5; /* Line spacing */
}
